@{
    ViewBag.Title = "Contoso Adventures";
}

<img class="logo-image" src="@Url.Content("~/Content/contoso-logo-hero.png")" alt="Contoso Adventures" />
<h1 class="mx-auto my-0 text-uppercase">Coming soon&hellip;</h1>
<p class="mx-auto mt-2 mb-5">You can sign-up for an account to join our waitlist. You'll be the first to find out about our exciting lineup of adventure products.</p>
<a class="btn btn-secondary" href="@Url.Action("Confirmed")">Create your account &raquo;</a>
